
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,800;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");


body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style-type: none;
    justify-content: right;
    gap: 20px;
    align-items: start;
}

ul.navigation {
    margin-top: 0px;
    padding-left: 100px;
}

.welcome {
    display: flex;
    flex-direction: column;
}

.navigation {
    flex: 1;
}

a, .subtext {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;

}

button {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: none;
    color: white;
    background-color: #B284BE;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    border-radius: 12px;
    background: #B284BE;
}

button:hover {
    background-color: rgb(178, 132, 190, .5);
    color: white;
  }


img {
    border: 3px outset #B284BE;
}


.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0px;
    padding: 0;
}

.header, .intro, .footer {
    flex: 1;
    background-color: #1F2937;
    margin: 0px;
}

.intro {
    display:flex;
    padding: 75px;
    justify-content: center;
    align-items: center;
}

.header {
    display: inline-flex;
    flex-wrap: wrap;
    padding: 0px 100px;
    padding-top: 16px;
    padding-right: 120px;
    justify-content: space-between;
    gap: 100px;

}

.text {
    padding: 25px;
    padding-top: 0px;
}

.intro_btn {
    margin: 25px 0px;
}

.placeholder {
    border: none;
    margin-right: 90px;
}

.footer {
    color: #E5E7EB;
    text-align: center;
}

.header, .navigation, .signup, .images {
    display: flex;
    flex-direction: row;
}

.logo {
    flex: 1;
    margin-top: 16px;
}

.navigation {
    flex: 1;
}

.main_header {
    font-size: 36px;
    color: #1F2937;
    text-align: center;
    margin-bottom: 50px;
}

.main {
    padding: 100px;
    gap: 100px;
    flex-wrap: wrap;
}

.images {
    text-align: center;
    justify-content: space-between;
}

.facts {
    display: flex;
    color: #1F2937;
    text-align: center;
    justify-content: right;
    margin-top: 100px;
    font-family: 'Great Vibes', cursive;
}


.placeholder_image {
    flex:50%;
  }
 
.abc_news:hover{
    color:#B284BE;
}

a:hover {
    color:#B284BE;
}

.cursive {
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
}

.pic_text {
    display: flex;
    justify-content: flex-start;
    align-items: end;
    display: flex;
    color: #F9FAF8;
}

.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    font-style: italic;
    font-weight: 200;
    padding: 100px;
    text-align: justify;
    font-size: 36px;
}

.quote_author, .reference {
    font-style: normal;
    text-align: right;
    font-size: 24px;
    font-weight: 600;
    color: #392d69;
}

.reference:hover {
    color:#B284BE;
}


.ad {
    background-color: white;
}

.ad_text {
    display: flex;
    background-color: #B284BE;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px;
    padding: 30px;
    border-radius: 10px;
}

.words {
    display: flex;
    flex-direction: column;
}


.ad_button {
    display: flex;
    justify-content: right;
}

.ad_button:hover {
    background-color: #68567a;
}


.logo, .signup_header {
    font-size: 48px;
    color: #F9FAF8;
}

.signup_header {
    font-weight: 800;
}

.logo {
    font-size: 24px;
    margin: 16px;
    margin-left: 0px;
}

.icon {
    font-size:24px; 
    text-align: right;
    margin-right: 8px;
    color: #B284BE;
    text-decoration: none;
}

.icon:hover, .TOP:hover {
    color: #000000;
}

